<div class="col-md-9">
    <div class="row">
        @{
            ViewData["Title"] = "Home Page";
            <!-- ViewBag.Title = "Home Page" -->
        }

        <br />
        <div>
            <h6>
                Explore the collection
            </h6>
        </div>
        <button id="Sign up" class="btn btn-success">Sign up</button>
    </div>
</div>
<div class="col-md-6">
    <p>This is a very nice web shop.</p>
</div>